<div class="body pb-5">

  <div class="header p-3">
    <h1 class="text-center display-3">Christmas Lists</h1>
    
  </div>

  <div *ngIf="auth.user$ | async as user; else login">

    <div *ngIf="current | async as current" class="container">
      <button (click)="auth.signout()" class="btn btn-primary text-center btn-lg m-2">signOut</button>
      <app-list *ngFor="let user of users" [user]="user"></app-list>
      <app-my-list [user]="current"></app-my-list>
    </div>
    
  </div>

  <ng-template #login>
    <div class="d-flex justify-content-center">
      <button (click)="auth.googleSignin()" class="btn btn-warning btn-lg m-5">Sign In</button>
    </div>
    
  </ng-template>


</div>

<router-outlet></router-outlet>