<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <a class="navbar-brand p-0 ml-3" routerLink=""><img src="assets/logo.png" width="60" height="60" alt="" loading="lazy"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-2 mr-auto">
        <li class="nav-item align-items-center d-flex">
          <a class="nav-link" routerLink="/lists">Lists</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-3">
        <li class="nav-item align-items-center d-flex">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <button (click)="auth.signout()" class="btn btn-primary text-center m-2">Sign Out</button>
        </li>
      </ul>
    </div>
  </nav>